###Setup

In [1]:
# Connecting to Google Drive to access the .log file
from google.colab import drive
drive.mount('/content/drive', force_remount=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

# Set file path
dir = 'drive/MyDrive/Mantel Group'

# Instantize dataframe
data = pd.DataFrame(columns=['IP', 'URL'])

In [3]:
# Read in .log file and generate a list of the HTTP requests
file = open(f'{dir}/programming-task-example-data.log')
lines = file.readlines()

# Instantize columns
IP = []
URL = []

# For each HTTP request, store the IP address and URL
for line in lines:
  IP.append(line.split()[0])
  URL.append(line.split()[6])

In [4]:
# Assign our columns to the dataframe
data.IP = IP
data.URL = URL

# View dataframe
data

               IP                                         URL
0   177.71.128.21                        /intranet-analytics/
1   168.41.191.40                     http://example.net/faq/
2   168.41.191.41                  /this/page/does/not/exist/
3   168.41.191.40      http://example.net/blog/category/meta/
4   177.71.128.21  /blog/2018/08/survey-your-opinion-matters/
5    168.41.191.9                         /docs/manage-users/
6   168.41.191.40                   /blog/category/community/
7   168.41.191.34                                       /faq/
8   177.71.128.21                      /docs/manage-websites/
9    50.112.00.28                        /faq/how-to-install/
10   50.112.00.11                                   /asset.js
11    72.44.32.11                                /to-an-error
12    72.44.32.10                                           /
13   168.41.191.9                                      /docs/
14  168.41.191.43                          /moved-permanently
15  168.41.191.43                              /temp-redirect
16  168.41.191.40                      /docs/manage-websites/
17  168.41.191.34                                /faq/how-to/
18    72.44.32.10                              /translations/
19   79.125.00.21                                /newsletter/
20   50.112.00.11                                   /hosting/
21    72.44.32.10                          /download/counter/
22   50.112.00.11                                  /asset.css

###The Number of Unique IP Addresses

In [5]:
print(f'There are {data.IP.unique().size} unique IP addresses.')

There are 11 unique IP addresses.

###The Top 3 Most Visited URLs

In [6]:
# Instantize list to store URL pages in
keywords = []

# For each URL, separate the page names (e.g. /docs/manage-users/ becomes ['docs', 'managed-users'])
for url in data.URL:
  for keyword in url.split('/'):
    keywords.append(keyword)

# Generate dataframe of keywords list
url_data = pd.DataFrame(keywords, columns=['Keywords'])

# View the top 3 most frequent pages in the URLs
url_data.Keywords.value_counts()[1:][0:3]

faq     4
docs    4
blog    3
Name: Keywords, dtype: int64

In [7]:
print('The top 3 most visited URLs are:')

url_count = url_data.Keywords.value_counts()[1:]

for i in range(3):
  print(f'{i+1}. http://example.net/{url_count.index[i]}/ , occurring {url_count[i]} times.')

The top 3 most visited URLs are:
1. http://example.net/faq/ , occurring 4 times.
2. http://example.net/docs/ , occurring 4 times.
3. http://example.net/blog/ , occurring 3 times.

###The Top 3 Most Active IP Addresses

In [8]:
# View the top 3 most frequent IP addressses
data.IP.value_counts()[0:3]

168.41.191.40    4
177.71.128.21    3
50.112.00.11     3
Name: IP, dtype: int64

In [9]:
print('The top 3 most active IP addresses are:')
for i in range(3):
  print(f'{i+1}. {data.IP.value_counts().index[i]}, occurring {data.IP.value_counts()[i]} times.')

The top 3 most active IP addresses are:
1. 168.41.191.40, occurring 4 times.
2. 177.71.128.21, occurring 3 times.
3. 50.112.00.11, occurring 3 times.